<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
    </style>
</head>
<body>
    <h1>Fake Store Api Wanabee</h1>

    <h2>Route List</h2>
    <ul>
        <li>
            <a href="/docs/user">User</a>
        </li>
        <li>
            <a href="/docs/category">category</a>
        </li>
    </ul>
</body>
</html>